<div>
  <h1><strong>_READ_ME</strong></h1>
  <div>
    <h4><strong>RELEVANT COMPONENTS, MODELS, AND SEVICES OF THE FRONT-END:</strong></h4>
    <div>
      <blockquote>
        <p>src</p>
        <p>|</p>
        <p>+---● app</p>
        <p>|   |</p>
        <p>|   +--● coding-events</p>
        <p>|   |  |--coding-events.html</p>
        <p>|   |  |--coding-events.ts</p>
        <p>|   |  |</p>
        <p>|   |  +--● coding-events-form</p>
        <p>|   |     |--coding-events-form.component.html</p>
        <p>|   |     |--coding-events-form.component.ts</p>
        <p>|   |</p>
        <p>|   +--● shared</p>
        <p>|   |  |--coding-event.service.ts</p>
        <p>|   |  |--coding-event.model.ts</p>
        <p>|   |</p>
        <p>|   |--app.module.ts</p>
        <p>|</p>
        <p>|</p>
        <p>|--index.html (----for bootstrap & fa icons---if you really wanna)</p>
      </blockquote>
    </div>
  </div>
  <div>
    <h4><strong>RELEVANT CLASSES OF THE BACK-END:</strong></h4>
    <ul>
      <li>Startup.cs</li>
      <li>Controlers.CodingEventsController.cs</li>
      <li>Models.CodingEvent.cs</li>
    </ul>
  </div>
  <div>
    <h4><strong>SOURCE TUTORIALS</strong></h4>
    <ul>
      <li>
        <a href='https://www.codaffection.com/asp-net-core-article/angular-crud-with-asp-net-core-web-api/'>
          Angular 11 CRUD with ASP.NET Core Web API</a>
      </li>
      <li>
        <a href='https://code-maze.com/net-core-web-development-part6/'>
          ASP.NET Core Web API – Post, Put, Delete</a>
      </li>
    </ul>
  </div>
</div>
